# /etc/mysql/my.cnf
# Set of variables in order to make all new databases to work with UTF-8
[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8